html{
	margin:  0 auto;
	padding: 0;
	width: 1080px;
}

nav {
	display: flex;
}

li {
	list-style: none;
	width: 150px;
}

a {
	font-size: 20px;
	color: black;
	text-decoration: none;
}
footer{
	width: 100%;
	position: fixed;
	left: 0;
	bottom: 0;
	background-color: gray;
	color: white;
	text-align: center;
}